@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import 'href="https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&display=swap';
body {
    font-family: "AktivGrotesk";
    color: #fff;
    background: #000;
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "AktivGrotesk";
    src: url("../real-estate/fonts/AktivGrotesk-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "AktivGrotesk";
    src: url("../real-estate/fonts/AktivGrotesk-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "FreightBigProSemibold";
    src: url("../real-estate/fonts/FreightBigProSemibold-Regular.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "AktivGrotesk";
    src: url("../real-estate/fonts/AktivGrotesk-Black.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}
h2 {
    font-size: 48px;
    line-height: 72px;
}
h2,
h3,
h4,
h5,
h6 {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
}
.btn {
    font-size: 16px;
    font-weight: 300;
    padding: 16px 20px;
    height: 64px;
    min-width: 250px;
    text-align: center;
    text-transform: uppercase;
}
.hero-main {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.hero-main video {
    object-fit: cover;
    width: 100%;
    height: 100vh;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}
.hero-main .container {
    position: relative;
    z-index: 5;
}
.hero-main:after {
    content: "";
    background-color: #000000;
    opacity: 0.4;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}
.hero-main h1 {
    font-family: "Cinzel", serif;
    color: #fff;
    font-size: 80px;
    line-height: 140px;
    font-weight: 400;
}

.hero-main p {
    font-family: "AktivGrotesk";
    font-weight: 300;
    font-size: 24px;
    line-height: 42px;
    letter-spacing: 3.2px;
}

.hero-main .btn {
    margin-top: 48px;
}
.cta-primary {
    letter-spacing: 0.2rem;
    border: 2px solid #ceb068;
    background-color: rgba(17, 16, 16, 0.749);
    cursor: pointer;
    color: #ceb068;
    border-radius: 0;
}

.cta-primary:hover {
    border: 2px solid #ceb068;
    background-color: rgba(17, 16, 16, 1);
    color: #ceb068;
}
.cooking-main .caption h2 {
    margin-bottom: 200px;
}
.cooking-main {
    padding-bottom: 0;
}
.content h3 {
    color: #c9ae70;
    font-family: "FreightBigProSemibold";
    font-size: 48px;
    font-weight: 300;
    margin: 0px 0px 24px;
    position: relative;
}
.caption h2 {
    position: relative;
    font-family: "FreightBigProSemibold";
}
.content h3 {
    position: relative;
}
.caption h2:after,
.caption h3:after {
    width: 4px;
    height: 88px;
    display: block;
    background: #ceb068;
    content: "";
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translate(-50%, 0);
    margin-top: 20px;
}

.content h3:before {
    content: "";
    position: absolute;
    content: "";
    width: 0.25rem;
    position: absolute;
    top: 10px;
    height: 6.2rem;
    background-color: #ceb068;
    margin: auto;
}

.cooking-main .row:nth-child(even) .content h3:before {
    left: -85px;
}
.cooking-main .row:nth-child(odd) .content h3:before {
    right: -85px;
}
.content p {
    line-height: 28px;
    font-size: 16px;
}
.img-box {
    position: relative;
}
.custom-border {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    border: solid 2px #cea547;
    z-index: 5;
}
.img-box img {
    width: 100%;
}
.cooking-main .row:nth-child(even) .content {
    padding-right: 30px;
}

.cooking-main .row {
    margin-bottom: 72px;
}
.cooking-main .row:nth-child(odd) .content {
    padding-left: 30px;
}
.cooking-main .row:nth-child(odd) .custom-border {
    right: -30px;
    top: -30px;
    left: auto;
}
.cooking-main .row:nth-child(even) .custom-border {
    left: -30px;
    top: -30px;
}
.fade-in-right {
    animation: fade-in-right 1.5s ease-in-out;
}

.fade-out-right {
    animation: fade-out-right 1.5s ease-in-out;
}

@keyframes fade-in-right {
    0% {
        margin-left: 50px;
        margin-right: -50px;
        opacity: 0;
    }
    100% {
        margin-left: 0;
        margin-right: 0;
        opacity: 1;
    }
}

@keyframes fade-out-right {
    0% {
        margin-left: 0;
        margin-right: 0px;
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.fade-in-left {
    animation: fade-in-left 1.5s ease-in-out;
}

.fade-out-left {
    animation: fade-out-left 1.5s ease-in-out;
}

@keyframes fade-in-left {
    from {
        margin-left: -50px;
        margin-right: 50px;
        opacity: 0;
    }
    to {
        margin-left: 0px;
        margin-right: 0px;
        opacity: 1;
    }
}

@keyframes fade-out-left {
    from {
        margin-left: 0px;
        margin-right: 0px;
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.what-we-make p {
    text-align: center;
    color: #fff;
}

.caption {
    margin-bottom: 50px;
}

.caption h2 {
    color: #ceb068;
    margin-bottom: 16px;
    font-family: "FreightBigProSemibold";
}
.caption p {
    font-size: 18px;
    line-height: 31.5px;
    margin: 0;
}

.what-we-make {
    background-image: url(../cooking/assets/longimage.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: bottom left;
}

.card-food {
    border: 2px solid #cea547;
    position: relative;
    padding: 1rem;
    background-color: black;
    color: #fff;
    box-shadow: 0px 0px 20px rgb(0 0 0 / 15%);
    border-radius: 7px;
    margin-bottom: 48px;
}

.card-food .imgTitle {
    display: block;
}
.card-food .img-wrapper {
    overflow: hidden;
    padding-top: 66%;
    position: relative;
    border-radius: 5px;
}

.card-food .img-wrapper img {
    width: 100%;
    object-fit: cover;
    cursor: pointer;
    transition: 0.5s;
    filter: saturate(90%);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    border-radius: 5px;
}
.card-food p {
    font-size: 15px;
    line-height: 26.25px;
    color: #fff;
    font-weight: 700;
    opacity: 0.9;
    text-align: left;
    margin: 0;
}

.card-food .title {
    font-size: 18px;
    line-height: 31.5px;
    margin-top: 1rem;
    margin-bottom: 0.2rem;
    font-weight: 700;
    text-align: left;
    color: #fff;
    text-transform: uppercase;
}

.card-food .btn-read {
    font-family: "Raleway", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: none;
    padding: 0.5rem;
    border: solid 2px black;
    border-radius: 5px;
    color: #fff;
    background-color: transparent;
    margin-top: 0.5rem;
    transition: 0.3s;
    font-size: 18px;
    font-weight: 400;
    width: 100%;
}

.card-food:hover .img-wrapper img {
    filter: saturate(100%);
    transform: scale(1.05);
}

.about-cooking {
    background-image: url(../cooking/assets/secondlastsection1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: bottom left;
    position: relative;
}

.about-cooking:after {
    content: "";
    background-color: #000000;
    opacity: 0.5;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.about-cooking .container {
    position: relative;
    z-index: 5;
}

.about-cooking .caption {
    margin-bottom: 0;
}
.about-cooking .caption p {
    margin-top: 24px;
}

.cooking-page footer {
    background: #000;
}

#cookinkModal .modal-dialog {
    max-width: 1308px;
}
#cookinkModal .modal-content {
    background-color: #000000;
    border: 2px solid #cea547;
    padding: 72px 20px;
    max-height: calc(100vh - 144px);
    overflow-y: auto;
}

#cookinkModal .modal-content::-webkit-scrollbar {
    width: 10px;
}

/* Track */

#cookinkModal .modal-content::-webkit-scrollbar-track {
    background: #000000;
}

/* Handle */

#cookinkModal .modal-content::-webkit-scrollbar-thumb {
    background: #cea547;
}

/* Handle on hover */

#cookinkModal .modal-content::-webkit-scrollbar-thumb:hover {
    background: #cea547;
}

.innerModal {
    max-width: 990px;
    margin: 0 auto;
}
.innerModal .media {
    display: flex;
    align-items: flex-start;
}
.innerModal .media .img-holder {
    flex: 0 0 420px;
    max-width: 420px;
    margin-right: 1.5rem;
    position: relative;
    padding-top: 66.66%;
}

.innerModal .media .img-holder img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    inset: 0;
}
.innerModal .media .media-body {
    flex: 1;
}

.innerModal .media .media-body h2 {
    font-family: "Roboto Slab", serif;
}
.innerModal .media .media-body p {
    font-size: 18px;
    margin-top: 24px;
}

.btnclose {
    position: absolute;
    top: 50px;
    right: 50px;
    z-index: 999;
    color: #fff;
    background: transparent;
    border: none;
    font-size: 32px;
}

#lightboxCarousel-egmejr20 .text-white p {
    margin: 0;
}
#lightboxCarousel-egmejr20 .text-white p:first-of-type {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 10px 0;
    background: rgba(0, 0, 0, 0.8);
    margin: 0;
    text-align: center;
}

.carousel-control-prev,
.carousel-control-next {
    width: auto;
    height: auto !important;
}

.carousel-control-prev {
    left: -46px;
}

.carousel-control-next {
    right: -46px;
}
.our-collection .caption {
    margin-bottom: 150px;
}

.our-collection .img-collection {
    position: relative;
}

.our-collection .img-collection .w-100 {
    height: 100%;
    object-fit: cover;
}
.our-collection .img-collection {
    height: 500px;
}
.our-collection .img-collection .logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.c-wrapper {
    position: relative;
    padding: 40px 0;
}

.c-wrapper::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    max-width: 100%;
    margin: 0 auto;
    border: 2px solid #ceb068;
    z-index: 5;
    pointer-events: none;
}

.cardJournal .date {
    font-size: 32px;
    color: #ceb068;
    line-height: 35.2px;
    font-family: "FreightBigProSemibold";
    margin-bottom: 20px;
}

.cardJournal .img-wrapper {
    overflow: hidden;
}

.cardJournal h4 {
    font-size: 40px;
    font-family: "FreightBigProSemibold";
    margin: 26px 0;
}
.cardJournal h4 a {
    color: #fff;
}
.cardJournal h4 a:hover {
    color: #ceb068;
}

.cardJournal p {
    letter-spacing: 0.07em;
    padding: 0;
    margin-bottom: 18px;
    font-weight: 300;
    line-height: 28.62px;
}
.cardJournal .img-wrapper img {
    width: 100%;
    height: 353px;
    object-fit: cover;
    transition: all 0.5s;
}

.cardJournal:hover .img-wrapper img {
    transform: scale(1.1);
}
.cardJournal .cta {
    font-weight: 700;
    color: #ceb068;
    font-size: 18px;
    text-transform: uppercase;
}

.cardJournal {
    margin-top: 100px;
}

.mediaUser {
    text-align: center;
    margin: 0 auto;
}
.mediaUser .avatar {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    margin: 0 auto 30px;
}

.mediaUser .avatar img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.quote {
    font-size: 52px;
    line-height: 52px;
    font-weight: 700;
    font-family: "FreightBigProSemibold";
    margin-bottom: 24px;
    position: relative;
}

.quote i {
    font-size: 22px;
    position: relative;
    top: -18px;
}
.quote i:last-of-type {
    position: relative;
    top: 0;
    margin-left: 7px;
}
.mediaUser .name {
    font-size: 28px;
    font-family: "Cinzel", serif;
}

.mediaUser .name span {
    font-style: italic;
    font-size: 18px;
}
.mediaUser p {
    font-size: 22px;
    margin: 8px 0;
    font-family: "Cinzel", serif;
}

.mediaUser p span {
    font-style: italic;
    font-size: 16px;
}

.mediaBox .mediaUser .name {
    font-size: 48px;
    color: #ceb068;
}

.mediaBox .mediaUser .name span {
    color: #fff;
}
.mediaBox .mediaUser p {
    font-size: 36px;
    margin-bottom: 16px;
}

.mediaBox .avatar img {
    border-radius: 8px;
}
.mediaBox .mediaUser .location {
    font-size: 18px;
}

.mediaBox {
    padding: 30px;
    border: 2px solid #ceb068;
    border-radius: 12px;
}

.swiper-button-next,
.swiper-button-prev {
    width: 50px;
    height: 50px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #000;
    border: 1px solid #ceb068;
    color: #ceb068;
    font-size: 24px;
}
.swiper-button-next:after,
.swiper-button-prev:after {
    content: none;
}

.swiper-button-next{
    right: -80px;
}

.swiper-button-prev{
    left: -80px;
}
@media (min-width: 1500px) {
    .our-collection .container {
        max-width: 1384px;
    }
    .our-journal .container {
        max-width: 80vw;
    }
}

@media (min-width: 1200px) {
 
    .our-collection .img-collection .logo {
        max-width: 210px;
    }
}

@media only screen and (max-width: 1600px) and (min-width:1320px) {
    .our-collection   .container {
        max-width: 1140px;
    }.c-wrapper::before{
        max-width: 1040px;
    }
}

@media (max-width: 1319px) {
    .c-wrapper::before{
        max-width: 860px;
    }
    .our-collection .img-collection {
        height: 400px;
    }
    .our-collection .img-collection .logo {
        max-width: 150px;
    }
}
@media (max-width: 1199px) {
    .hero-main h1 {
        font-size: 62px;
        line-height: 104px;
    }
    .hero-main p {
        font-size: 18px;
    }
    .hero-main .btn {
        margin-top: 16px;
    }
    .cooking-main .row:nth-child(even) .content h3:before {
        left: -22px;
    }
    .cooking-main .row:nth-child(odd) .content h3:before {
        right: -22px;
    }
  
    .cardJournal h4 {
        font-size: 28px;
    }
    .quote {
        font-size: 36px;
        line-height: 1;
    }
    .swiper-button-next {
        right: 0;
    }

    .swiper-button-prev {
        left: 0;
    }
    
   
}

@media (max-width: 991px) {
    .cooking-main .row:nth-child(even) .content {
        padding: 0;
        margin-bottom: 80px;
    }
    .cooking-main .row:nth-child(odd) .content {
        padding-left: 0;
        margin-bottom: 80px;
    }
    .c-wrapper {
        padding: 0;
    }
    .cardJournal {
        margin-top: 30px;
    }
    .mediaBox {
        max-width: 500px;
        margin: 0 auto;
    }
}
@media (max-width: 767px) {
    .cooking-main .row:nth-child(even) .custom-border {
        left: -10px;
        top: -15px;
    }
    .cooking-main .row:nth-child(odd) .custom-border {
        right: -10px;
        top: -15px;
        left: auto;
    }
    .cooking-main .row:nth-child(odd) .content {
        padding: 0;
        margin-bottom: 45px;
    }
    .cooking-main .row:nth-child(even) .content {
        margin-bottom: 45px;
    }
}

@media (max-width: 575px) {
    .hero-main h1 {
        font-size: 42px;
        line-height: 76px;
    }
    .hero-main p {
        font-size: 16px;
        line-height: 24px;
    }
    .btn {
        font-size: 14px;
        padding: 13px 20px;
        height: 50px;
        min-width: 190px;
    }
    section {
        padding: 36px 0;
    }
    h2 {
        font-size: 32px;
        line-height: 36px;
    }
    .cooking-main .caption h2 {
        margin-bottom: 128px;
    }
    .content h3 {
        font-size: 34px;
        margin-bottom: 14px;
    }
    .cardJournal {
        margin-top: 60px;
    }
    .mediaBox .mediaUser .name {
        font-size: 28px;
        color: #ceb068;
        margin-top: 20px;
    }
    .mediaBox .mediaUser p {
        font-size: 26px;
        margin-bottom: 16px;
    }
    .mediaBox .mediaUser .location {
        font-size: 14px;
    }
    .mediaUser p span,
    .mediaUser .name span {
        font-size: 14px;
    }
    .mediaBox {
        padding: 30px 15px;
    }
    .quote {
        font-size: 28px;
    }
    .quote i {
        font-size: 18px;
    }
    .our-collection .img-collection {
        height: 346px;
    }
}
