body {
    font-family: "Raleway", sans-serif;
    color: #000;
}

h2,
h3,
h4,
h5,
h6 {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
}
.btn {
    position: relative;
    border-width: 2px;
    border-style: solid;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 1;
    font-size: 14px;
    border-radius: 4px;
    display: inline-block;
    font-weight: 400;
    position: relative;
    transition: all 0.15s ease-out;
    padding: 12px;
}

.btn span {
    position: relative;
    z-index: 5;
}
.cta-primary {
    color: #fff;
    border-color: #1d5ba0;
}

.cta-primary:after {
    content: "";
    transition: all 0.15s ease-out;
    position: absolute;
    width: 100%;
    height: 100%;
    right: 0;
    top: 0;
    bottom: 0;
    background: #1d5ba0;
}

.cta-primary:hover:after {
    width: 0;
}
.resumeTitle {
    text-align: center;
}

.resume {
    padding: 72px 0;
}
.resume-header {
    padding: 0 0 0;
}
.resume-header h2 {
    font-size: 82px;
    line-height: 73.8px;
    font-weight: 700;
    text-transform: capitalize;
    color: #000000;
    padding-bottom: 48px;
    margin: 0;
}

.resume-header .desig {
    font-size: 52px;
    line-height: 1;
    font-weight: 300;
    color: #000000;
    text-transform: uppercase;
}

.social-connect {
    list-style: none;
    margin: 0;
    padding: 0;
}
.social-connect li {
    padding-bottom: 25px;
}
.social-connect li a {
    display: flex;
    align-items: center;
    font-size: 18px;
    line-height: 31.5px;
    font-weight: 700;
    color: #000;
    text-decoration: none;
}

.social-connect li a:hover {
    color: #1d5ba0;
}
.social-connect li a i {
    color: #1d5ba0;
    font-size: 24px;
    margin-right: 24px;
    line-height: 1;
}
.social-connect li a span {
    flex: 1;
}

.resumeBody {
    padding: 72px 0 0;
}
.resumeBody h2 {
    font-size: 28px;
    line-height: 35px;
    color: #000;
    text-transform: uppercase;
    margin-bottom: 48px;
}

.resumeBody h4 {
    font-size: 22px;
    line-height: 27.5px;
    color: #000;
    text-transform: uppercase;
    margin-bottom: 24px;
    font-weight: 400;
}
.resumeBody p {
    font-size: 14px;
    color: #4d4d4d;
}

.resumeBody .text-body {
    margin-bottom: 48px;
}

.cardHeader {
    display: flex;
    margin-bottom: 24px;
}

.cardHeader .media-body {
    flex: 1;
}
.cardHeader h3 {
    font-size: 22px;
    line-height: 27.5px;
    font-weight: 400;
    margin: 0 0 5px;
}

.cardHeader .infoCompany {
    font-size: 14px;
    line-height: 17.5px;
    margin: 0;
}

.cardHeader .infoCompany a {
    font-weight: 700;
    color: #000;
    text-decoration: none;
}
.cardHeader .date {
    color: #666;
    text-align: right;
    font-size: 22px;
    font-family: "Open Sans", sans-serif;
    line-height: 27.5px;
    padding-left: 10px;
}

.cardExp {
    margin-bottom: 48px;
}

@media (max-width: 1199px) {
    .resume-header h2 {
        font-size: 62px;
        line-height: 62px;
        padding-bottom: 24px;
    }
    .resume-header .desig {
        font-size: 42px;
    }
    .resumeBody {
        padding: 46px 0 0;
    }
    .resumeBody h2 {
        margin-bottom: 22px;
    }
}

@media (max-width: 991px) {
    .social-connect {
        margin: 30px 0 0;
    }
}
@media (max-width: 575px) {
    .resume-header h2 {
        font-size: 46px;
        line-height: 46px;
        padding-bottom: 24px;
    }
    .resume-header .desig {
        font-size: 28px;
    }
    .resume {
        padding: 36px 0;
    }
    .cardHeader .date {
        font-size: 18px;
    }
    .cardHeader h3 {
        font-size: 18px;
        line-height: 24px;
    }
    .captionPage p {
        font-size: 18px;
    }
}
